{% load i18n %}

{% csrf_token %}

<div class="d-flex flex-column">
{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        <div class="form-floating mb-3 col-12 {{ field.name }}">
            {{ field }}
            <label for="{{ field.auto_id }}">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
            {% if field.help_text %}
            <small id="{{ field.auto_id }}-help" class="form-text d-block">
                {{ field.help_text }}
            </small>
            {% endif %}
            {% for error in field.errors %}
                <small class="form-text text-danger form-text-error me-1 float-end">
                    <i class="bi bi-dash-circle-fill"></i> {{ error }}
                </small>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
</div>

{% if form.non_field_errors %}
<div class="alert alert-danger">
    <div class="col p-0 d-flex align-items-start">
        <div class="d-inline-flex">
            <i class="bi bi-exclamation-octagon-fill me-2"></i>
        </div>
        <div>
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}