<div class="addcalendar">
    <a href="{{ google }}" target="_BLANK" class="btn">
        <img src="/static/icons/calendar-google.png" width="48" height="48" alt="Agregar al calendario de Google"/><br/>
        <small class="add-to">Gmail</small>
    </a>
    <a href="{{ outlook }}" target="_BLANK" class="btn">
        <img src="/static/icons/calendar-outlook.png" width="48" height="48" alt="Agregar a Outlook"/><br/>
        <small class="add-to">Outlook</small>
    </a>
    <a href="{{ ics }}" target="_BLANK" class="btn">
        <img src="/static/icons/calendar-ics.png" width="48" height="48" alt="Agregar a Outlook"/><br/>
        <small class="add-to">Calendar</small>
    </a>
</div>