{% load markdown %}

<!-- Button trigger modal -->
<a href="#" class="{{ styling }}" data-bs-toggle="modal" data-bs-target="#{{ filename }}">
    {{ title|title }}
</a>

<!-- Scrollable modal -->
<div class="mdfile">
    <!-- Modal -->
    <div class="modal fade" id="{{ filename }}" tabindex="-1"
        aria-labelledby="{{ filename }}-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="{{ filename }}-label">{{ title }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                    {{ body | markdown | safe }}
                </div>
            </div>
        </div>
    </div>
</div>